@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/League_Gothic-webfont.woff') format('woff'),
        url('fonts/League_Gothic-webfont.ttf') format('truetype'),
        url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: url(images/bg.png) repeat;
    font-family: "Droid Serif", serif;
    color: #5B5B5B;
font-size: 12px;
}

hr {
    border-top: 1px dotted #ddd;
    background: #fff;
}

#topbar {
    background: #3b3b3b;
    border-bottom: 1px solid #6a6a6a;
    height: 12px;
}
#header-wrapper {
    margin: 0;
    padding: 10px 10px 5px;
    background: url(images/header.jpg) repeat;
}
#secondary-content-wrapper {
	background-color: #3B3B3B;
	margin-bottom: 10px;
	float:left;
	width: 100%;
}
h1 {
	font-size: 2.4em;
	line-height: 1.1em;
	font-family: 'LeagueGothicRegular', 'Bebas Neue','Arial Narrow', Arial, sans-serif;
	font-weight: normal;
		text-transform: uppercase;
}

h1#page-title {
	font-size: 3em;
	font-family: 'LeagueGothicRegular', 'Bebas Neue','Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding: 10px;
	color: silver;
	letter-spacing: 1px;
}
.sidebar h1 {
	font-size: 1.6em;	
	line-height: 1.5em;
}

h2, .page-calendar h3 {
	font-family: 'Droid Serif', serif;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 0 10px 0;
	font-weight: bold;
	display: block;
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #B2B2B2;
}
.front .region-content h2.block-title {
	font-size: 3.4em;
	line-height: 1.1em;
	font-family: 'LeagueGothicRegular', 'Bebas Neue','Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 10px;
	z-index: 20;
	background-color: black;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
}
 
h3 {
font-family: 'Droid Sans', sans-serif;
font-size: 12px;
}

h3 a {
color: gray;
text-decoration: none;
font-weight: normal;
text-transform: uppercase;
}

.not-front .block-views .block-inner, .blocka, .blocka-image, .page-blog #main-content .article, .block-nodeblock, .page-events #main-content .article-type-event, .page-networks #main-content .article-type-event, .page-publications #main-content .article-type-publication, #block-views-about-us-blocks-block-2 .block-inner, .page-taxonomy #main-content .article, .block-taxonomyblocks .block-inner {
	background: white;
	color: #222;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 20px;
}
.not-white.block-nodeblock {
	background: transparent;
	color: #222;
	box-shadow: 0 0 0;
	padding: 0;
	border: none;
	border-radius: 0;
}
#block-views-event-blocks-block-2 .block-inner{
	background: #CC3333;
	color: white;
}
.blocka-image {
	padding: 0px;
}

.blocka {
	margin-bottom: 20px;
}
.page-node .field-name-field-event-desc, .page-node .field-name-field-publication-desc {
padding: 20px;
}

.front .field-name-field-event-desc {
	padding: 0px;
}
#content-wrapper .view-content ul {
	margin: 0;
	list-style: none;
}

.field-collection-view {
	margin: 0;
}

/*
#content-wrapper a {
	color: #C33;
	margin: -10px 0 0 0;
	font-weight: bold;
	text-decoration: none;
}
*/

a {
	color: #CC3333;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

.field-name-field-participant-photo {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}


.field-name-field-event-image img, .field-name-field-publication-image img {
border-radius: 3px 3px 0 0;
}
.front .field-name-field-event-image img, .front .field-name-field-publication-image img {
border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.page-events .field-name-field-event-image img, .page-networks .field-name-field-event-image img, .page-publications .field-name-field-publication-image img {
border-radius: 0px;
}

.field-name-field-event-desc {
margin-top: 10px;
margin-bottom: 10px;
}

.views-field-field-event-date {
	font-size: 1.3em;
	margin-bottom: 20px;
}

.fieldgroup-effects-processed {
	padding-left: 14px;
	background-image: url(images/down-arrow.png);
	background-repeat: no-repeat;
	background-position-y: 4px;
	clear: left;
}

.fieldgroup-effects-processed.group-event-reqs {
	background-position-y: 24px;
	background-position-x: 14px;
	padding-left: 28px;
}

.fieldgroup-effects-processed.collapsed {
	background-image: url(images/right-arrow.png);
}

.field-name-field-talk-speaker, .field-name-field-participant-name {
	font-weight: bold;
	float: left;
	display: inline;
}
.field-name-field-contributor-title {
	font-weight: bold;
	clear: left;
	display: block;
}
.field-name-field-talk-speaker-university, .field-name-field-contributor-name {
	font-style: italic;
	display: inline;
}
.field-name-field-participant-affiliation {
	clear: left;
	display: block;
		font-style: italic;
}
.field-name-field-talk-title {
	font-size: 1.3em;
	line-height: 1.15em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0;
}
.field-collection-view {
padding: 0 0 0.3em 0;
}
.nav {
	clear: none;
	padding-top: 15px;
	float: right;
}

ul.primary-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 33px;	
	float: left;
	position: relative;
}

.nav li {
float: left;
position: relative;
z-index: 120;
}

.nav li a {
height: 33px;
margin: 0 5px;
line-height: 35px;
color: white;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
font-weight: normal;
padding: 0 12px!important;
border-radius: 3px;
-webkit-transition: background-color .1s linear, color .1s linear;
-moz-transition: background-color .1s linear, color .1s linear;
-o-transition: background-color .1s linear, color .1s linear;
-ms-transition: background-color .1s linear, color .1s linear;
transition: background-color .1s linear, color .1s linear;
display: block;
position: relative;
text-decoration: none;
text-transform: uppercase;
font-family: "Droid Sans", sans-serif;
font-size: 1.1em;
}

.nav li a:hover, .nav li a.active {
text-decoration: none;
color: white;
background: #3B3B3B;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

#logo {
	float: left;
	margin-right: 10px;
	width: 320px;
}

.section-about-us .region-sidebar-second {
	width: 60%;
	margin-left: -60%;
}

.section-about-us #content-column .content-inner {
margin-right: 60%;
margin-left: 0;
}

.section-about-us .view-about-us-blocks .views-row-odd {
	width: 47%;
	margin-right: 3%;
	float: left;
}
.section-about-us .view-about-us-blocks .views-row-even {
	width: 47%;
	margin-left: 3%;
	float: left;
}
.divlinker {
	float: left;
}
.content-inner .block.divlinker {
	margin-top: 15px;
}
.divlinker .block-inner {
	position: relative;
}
.divlinker .block-inner:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
}

.big-button {
	position: absolute;
	display: block;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
}

ul.primary {
border-bottom: none;
float: right;
padding: 0 10px 10px 10px;
}

ul.primary li.active {
	display: none;
}
.page-calendar ul.primary li.active {
	display: block;
}
.page-calendar ul.primary li.active a {
	background-color: white;
	color: white;
	background: #3B3B3B;
}

.logged-in h1#page-title {
	float: left;
}

#tasks {
	margin: 0;
}

ul.primary {
	margin-top: 10px;
}

ul.primary li a {
color: white;
background: #CC3333;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3);
border-color: transparent;
border-style: none;
border-width: 1px;
height: 33px;
margin: 0 5px;
line-height: 35px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
font-weight: normal;
padding: 0 20px!important;
border-radius: 3px;
-webkit-transition: background-color .1s linear, color .1s linear;
-moz-transition: background-color .1s linear, color .1s linear;
-o-transition: background-color .1s linear, color .1s linear;
-ms-transition: background-color .1s linear, color .1s linear;
transition: background-color .1s linear, color .1s linear;
display: block;
position: relative;
text-decoration: none;
text-transform: uppercase;
font-family: "Droid Sans", sans-serif;
font-size: 1.1em;
position: relative;
z-index: 20;
}

ul.primary li a:hover {
	background: #3B3B3B;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

ul.primary li {
	float: left;
}

#messages-help-wrapper {
	float: left;
}

ul.secondary {
	clear: both;
	float: right;
}

ul.secondary li a:hover, ul.secondary li a.active {
	color: white !important;
}

.field-name-field-event-desc, .field-name-field-publication-desc, .page-blog #main-content .field-type-text-with-summary, .page-taxonomy #main-content .field-type-text-with-summary {
	font-size: 1.2em;
}
.page-type-about-us .field-type-text-with-summary {
	font-size: 1.3em;
	margin-top: 10px;
	line-height: 1.5em;
}
.group_left {
	width: 30%;
	float: left;
	margin-right: 2%;
}

.group_right {
	float: left;
	width: 67%;
}

/*
.group_event_important {
	background-color: #C33;
	background-repeat: no-repeat;
	background-position: center center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 16px;
	font-weight: normal;
	padding: 20px;
	margin-bottom: 20px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
*/
.field-name-field-event-place {
	font-size: 14px;
	margin-top: 5px;
}

p.read-more {
	margin-bottom: 0;
}

p.read-more a {
	font-weight: bold;
	font-size: 1.2em;
	background: url(images/arrow.png) no-repeat center right;
	float: left;
	padding-right: 30px;
	text-decoration: none;
}

p.read-more a:hover {
	color: black;
    cursor: pointer;
    -webkit-transition: padding-right 250ms ease-out;
  -moz-transition: padding-right 250ms ease-out;
  padding-right: 60px;
  /* trans pattern:  property duration timingMethod delay */
}

.field-name-field-event-date {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
	padding-top: 3px;
}

.region-sidebar-second .field-name-field-event-date {
	font-size: 1.1em;
	line-height: 1.1em;
	padding-top: 0;
}

h2.field-label {
	border-bottom: none;
}
.field-name-field-publication-date {
	font-family: 'Droid Serif', serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}

.section-blog .field-name-body {
	margin: 15px 0;
}

.label-inline {
	float: left;
	margin-right: 3px;
}

.view-display-id-block_2 p {
	font-size: 1.6em;
	font-style: italic;
	margin-bottom: 0;
}
.front .article {
	margin-bottom: 0;
}

.region-footer {
	margin-top: 30px;
	border-top: solid 5px silver;
	padding-top: 10px;
}
#block-nodeblock-44 {
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}
#block-widgets-s-socialmedia-share-default {
	margin-bottom: 0;
	padding-bottom: 0;
}
#widgets-element-socialmedia_share-default {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 85px;
}
.widgets-element-horizontal {
	padding: 0 5px;
}
.block-taxonomyblocks ul {
	margin: 0;
}
.block-taxonomyblocks ul li {
	list-style: none;
	text-transform: capitalize;
	font-weight: bold;
	padding-bottom: 3px;
}
.field-type-taxonomy-term-reference {
	padding-top: 10px;
}
.field-type-taxonomy-term-reference h2 {
	padding-bottom: 0;
}
.section-calendar h1#page-title{
float:left;
}

#flash-container {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1260px;
	margin: 0 auto;
}
#flash-div {
   position:absolute; 
   top: 0;
   margin-top: -190px;
    left:0;
    margin-left:-170px;
    background:url(images/flash.png) no-repeat top left;
    width: 625px;
    height: 485px;
    z-index: 100;
}

.fb-join a {
	float: right;
	font-size: 2.4em;
	line-height: 1.1em;
	font-family: 'LeagueGothicRegular', 'Bebas Neue','Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	color: #BFBFBF;
	padding: 13px 12px 0 0;
	position: relative;
	z-index: 10;
}
.fb-join a span {
	color: #34528B;
}
.fb-join a:hover {
	text-decoration: none;
}